.modal {
  position: fixed;
  z-index: 100;
  background-color: white;
  border-radius: 15px;
  padding: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100px;
  min-width: 350px;
  max-width: 500px;
  margin-inline: 24px;
}

.modal__backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #414141;
  opacity: 0.5;
}
