@import "css/variables.css";

.modal {
  position: fixed;
  z-index: 100;
  background-color: var(--background-pale);
  border-radius: var(--border-radius-large);
  padding: var(--spacing-4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100px;
  max-width: 550px;
  width: calc(100% - var(--spacing-4) * 2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal__backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--background-pale);
  opacity: 0.4;
}
